<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="/">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="bee-logo">
                  <img src="./assets/images/logo.png" alt="" class="bee-img">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text"></h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="/" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ul class="sidebar-menu scrollable pos-r ps">

      <li class="nav-item mT-30 active">
        <a class="sidebar-link" routerLink="/donate">
          <span class="icon-holder">
            <i class="material-icons">
              attach_money
            </i>
          </span>

          <span class="title">Donate</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="/wallet">
          <span class="icon-holder">
            <i class="material-icons">
              card_giftcard
            </i>
          </span>
          <span class="title">Your animal tokens</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="/market">
          <span class="icon-holder">
            <i class="material-icons">
              import_export
            </i>
          </span>
          <span class="title">Marketplace</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" routerLink="/leaderboard">
          <span class="icon-holder">
            <i class="material-icons">
              show_chart
            </i>
          </span>
          <span class="title">Leaderboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-link" href="/dashboard" default="">
          <span class="icon-holder">
            <i class="material-icons">
              dashboard
            </i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
      </div>
    </ul>
  </div>
</div>