<app-nav></app-nav>

<div class="page-container">
  <app-topnav></app-topnav>
  <main class="main-content bgc-grey-100">
    <div id="mainContent">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>