<div class="container">
  <h1>Leaderboard</h1>
  <mat-list>
    <mat-list-item>
      <div class="col-md-4">
        ID
      </div>
      <div class="col-md-4">
        Token
      </div>
      <div class="col-md-4">
        Honey
      </div>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor='let ranking of rankings'>
      <div class="col-md-4">
        {{ranking.animalid}} {{ranking.name}}
      </div>
      <div class="col-md-4">
        <div class="image-container">
          <img id="image1" [src]="ranking.pictures[0]" *ngIf="ranking.pictures[0]" class='img-responsive'>
          <img id="image1" [src]="ranking.pictures[1]" *ngIf="ranking.pictures[1]" class='img-responsive'>
          <img id="image1" [src]="ranking.pictures[2]" *ngIf="ranking.pictures[2]" class='img-responsive'>
        </div>
      </div>
      <div class="col-md-4">
        {{ranking.honey}}
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>