<div class="header navbar">
  <div class="header-container">
    <ul class="nav-right">
      <a mat-button [matMenuTriggerFor]="appmenu">{{currentUser}}</a>
      <mat-menu #appmenu="matMenu">
        <a mat-menu-item *ngFor="let user of users" (click)="changeUser($event, user)" [routerLink]="['/']">{{user}}</a>
      </mat-menu>
    </ul>
  </div>
</div>