<div class="row bee-cards">
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-title>Honey Drops remaining:</mat-card-title>
      <mat-card-title>{{honey}} drops</mat-card-title>
      <div class="bee-logo bee-img-med">
        <img src="./assets/images/logo.png" alt="" class="">
      </div>
    </mat-card>
  </div>
  <div *ngFor='let animal of animals' class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>ID: {{animal.animalid}}</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="../../assets/images/queen_02.png" alt="Photo of a Shiba Inu"> -->
      <div class="imageContainer">
        <img id="image1" [src]="animal.pictures[0]" *ngIf="animal.pictures[0]" class='img-responsive'>
        <img id="image1" [src]="animal.pictures[1]" *ngIf="animal.pictures[1]" class='img-responsive'>
        <img id="image1" [src]="animal.pictures[2]" *ngIf="animal.pictures[2]" class='img-responsive'>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="turnToHoney($event, animal)">Turn to honey</button>
        <button mat-raised-button color="accent">Sell to market</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>