/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
.center {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.logo-container img {
    width: 50px;
    height: 60px;
}
.imageContainer {
    position: relative;
    width:165px;
    height:169px;
}
#image1 {
    position: absolute;
    top: 0;
    z-index: 10;
    width:120px;
    height:130px;
}
.logo-container {
    display: flex;
    justify-content: center;
}