<div class="logo-container">
  <h1> Welcome to Pollinate </h1>
  <br>
  <br>
</div>
<div class="wrapper">
  <button mat-fab color="primary" (click)="donate()">Donate</button>
</div>
<div class="" [ngClass]="{'open':isOpen, 'shake-on':isShaking}">
  <div class="center">
    <svg width="400px" height="400px" version="1.1" xmlns="http://www.w3.org/2000/svg">

      <path d="M200 10 
        C 180 10, 160 10, 160 30
        H 240
        H 160
        C 160 30, 145 30, 145 50
        H 270
        H 145
        C 145 50, 130 50, 130 70
        H 280
        H 130
        C 130 70, 115 70, 115 90
        H 300
        H 115
        C 115 90, 100 90, 100 110
        H 310
        H 100
        C 100 110, 100 130, 115 130
        H 300
        H 115
        C 115 130, 115 150, 130 150
        H 280
        H 130
        C 130 150, 130 170, 145 170
        H 270
        H 145
        C 145 170, 145 190, 160 190
        H 250
        H 160
        C 160 190, 160 210, 175 210
        C 180 210, 190 210, 200 210
        C 200 210, 210 210, 240 210
    
        C 240 210, 260 210, 260 190
        C 260 190, 275 190, 275 170
        C 275 170, 290 170, 290 150
        C 290 150, 305 150, 305 130
        C 305 130, 320 130, 320 110
        C 320 110, 320 90, 305 90
        C 305 90, 305 70, 290 70
        C 290 70, 290 50, 275 50
        C 275 50, 275 30, 250 30
        C 250 30, 250 10, 220 10
        L 200 10
        " stroke="black" fill="#ffc966" stroke-width="4" />

      <path d="M200 10 
        C 180 10, 160 10, 160 30
        C 160 30, 145 30, 145 50
        C 145 50, 130 50, 130 70
        C 130 70, 115 70, 115 90
        C 115 90, 100 90, 100 110
        C 100 110, 100 130, 115 130
        C 115 130, 115 150, 130 150
        C 130 150, 130 170, 145 170
        C 145 170, 145 190, 160 190
        C 160 190, 160 210, 175 210
        C 180 210, 190 210, 200 210
    
        C 200 210, 185 210, 185 190
        C 185 190, 170 190, 170 170
        C 170 170, 155 170, 155 150
        C 155 150, 140 150, 140 130
        C 140 130, 125 130, 125 110
        C 125 110, 125 90, 140 90
        C 140 90, 140 70, 155 70
        C 155 70, 155 50, 170 50
        C 170 50, 170 30, 185 30
        C 185 30, 185 10, 200 10
        " stroke="none" fill="black" fill-opacity="0.3" />

      <path d="M193 160 
        V 193 205
        C 193 205, 193 215, 203 215
        C 203 215, 213 215, 213 205
        V 213 195
        V 213 240
        C 213 240, 213 250, 220 250
        C 220 250, 227 250, 227 240
        V 227 160
        " stroke="black" fill="#C68928" stroke-width="4" />

      <path d="M193 160 
        V 193 205
        C 193 205, 193 215, 203 215
        C 203 215, 200 215, 200 205
        V 200 160
        " stroke="none" fill="black" fill-opacity="0.3" />

      <path d="M213 195 
        V 213 240
        C 213 240, 213 250, 220 250
        V 227 195
        " stroke="none" fill="black" fill-opacity="0.3" />


      <g id="left-honey">
        <path d="M193 195 
          V 193 205
          C 193 205, 193 215, 203 215
          C 203 215, 213 215, 213 205
          V 213 195
          " stroke="black" fill="#C68928" stroke-width="4" />

        <path d="M193 195 
          V 193 205
          C 193 205, 193 215, 203 215
          C 203 215, 200 215, 200 205
          V 200 195
          " stroke="none" fill="black" fill-opacity="0.3" />
      </g>

      <g id="right-honey">
        <path d="M213 195 
          V 213 240
          C 213 240, 213 250, 220 250
          C 220 250, 227 250, 227 240
          V 227 195
          " stroke="black" fill="#C68928" stroke-width="4" />

        <path d="M213 195 
        V 213 240
        C 213 240, 213 250, 220 250
        V 227 195
        " stroke="none" fill="black" fill-opacity="0.3" />
      </g>

      <ellipse cx="210" cy="160" rx="20" ry="20" fill="black" />

      <ellipse cx="215" cy="160" rx="15" ry="15" fill="white" fill-opacity="0.2" />

      <g id="bee-path" transform="translate(85,45)">
        <path id="motionPath" fill="none" stroke="none" stroke-miterlimit="10" d="M41.903,113.081c0,0-27,24-2,34s50-15,50-15s90-55,119-17
        c29,38-25,40-46,16s-135-156-155-124s38,55,103,33s116-62,110-25s-14,31-59,48S54.903,95.081,41.903,113.081z" />

        <g id="bee" transform="translate(-234.4, -182.8)">
          <ellipse cx="234.4" cy="189.2" rx="10" ry="7" fill="black" />
          <rect x="230" y="182" width="2" height="14" fill="yellow" />
          <rect x="238" y="182" width="2" height="14" fill="yellow" />
          <ellipse cx="240" cy="200" rx="4" ry="8" fill="gray" transform="rotate(-45 240 200)" />
          <ellipse cx="230" cy="200" rx="4" ry="8" fill="gray" transform="rotate(45 230 200)" />
        </g>
      </g>

      <g id="bee-path2" transform="translate(85,45)">
        <path id="motionPath2" fill="none" stroke="none" stroke-miterlimit="10" d="M197.99,18c0,0-135.63,174.71-164.992,121.494
        C9,95.995,76.496,98.8,76.496,35.803s-67.497-26.998-49.498,3s160.493,39.192,170.992,73.691s-55.498,46.498-44.998,10.5
        s53.997-62.997,58.497-79.496S218.989,3,197.99,18z" />

        <g id="bee2" transform="translate(-234.4, -182.8)">
          <ellipse cx="234.4" cy="189.2" rx="10" ry="7" fill="black" />
          <rect x="230" y="182" width="2" height="14" fill="yellow" />
          <rect x="238" y="182" width="2" height="14" fill="yellow" />
          <ellipse cx="240" cy="200" rx="4" ry="8" fill="gray" transform="rotate(-45 240 200)" />
          <ellipse cx="230" cy="200" rx="4" ry="8" fill="gray" transform="rotate(45 230 200)" />
        </g>
      </g>

      <g id="bee-path3" transform="translate(85,45)">
        <path id="motionPath3" fill="none" stroke="none" stroke-miterlimit="10" d="M146.993,56.998c0,0,106.493-56.998-12-56.998
      S-31.498,19.5,98.995,67.497s133.494,76.495,4.5,85.495c-128.994,9-65.997-35.999-29.999-58.497
      C109.495,71.997,146.993,56.998,146.993,56.998z" />

        <g id="bee3" transform="translate(-234.4, -182.8)">
          <ellipse cx="234.4" cy="189.2" rx="10" ry="7" fill="black" />
          <rect x="230" y="182" width="2" height="14" fill="yellow" />
          <rect x="238" y="182" width="2" height="14" fill="yellow" />
          <ellipse cx="240" cy="200" rx="4" ry="8" fill="gray" transform="rotate(-45 240 200)" />
          <ellipse cx="230" cy="200" rx="4" ry="8" fill="gray" transform="rotate(45 230 200)" />
        </g>
      </g>

      <g id="bee-path4" transform="translate(85,45)">
        <path id="motionPath4" fill="none" stroke="none" stroke-miterlimit="10" d="M158.992,0c0,0-83.996,1.5-38.998,29.999s89.995,32.999,52.497,56.998
      s-70.497,71.995-20.999,65.996s41.999-17.999-5.999-58.497c-47.998-40.498,8.999-38.998,29.998-61.497S158.992,0,158.992,0z"
        />

        <g id="bee4" transform="translate(-234.4, -182.8)">
          <ellipse cx="234.4" cy="189.2" rx="10" ry="7" fill="black" />
          <rect x="230" y="182" width="2" height="14" fill="yellow" />
          <rect x="238" y="182" width="2" height="14" fill="yellow" />
          <ellipse cx="240" cy="200" rx="4" ry="8" fill="gray" transform="rotate(-45 240 200)" />
          <ellipse cx="230" cy="200" rx="4" ry="8" fill="gray" transform="rotate(45 230 200)" />
        </g>
      </g>

      <g id="bee-path5" transform="translate(85,45)">
        <path id="motionPath5" fill="none" stroke="none" stroke-miterlimit="10" d="M65.997,13.5c0,0-46.499-23.999-38.999,1.5
      s44.998,7.499,34.499,34.498s-71.996,6-25.499,46.498s19.499,38.998,0,40.498s-40.498-52.497,58.497-14.999
      s50.998-13.499,14.999-55.497c-35.998-41.998,3-38.999,35.999-23.999s70.496,6,31.498-17.999S92.996,37.498,65.997,13.5z"
        />

        <g id="bee5" transform="translate(-234.4, -182.8)">
          <ellipse cx="234.4" cy="189.2" rx="10" ry="7" fill="black" />
          <rect x="230" y="182" width="2" height="14" fill="yellow" />
          <rect x="238" y="182" width="2" height="14" fill="yellow" />
          <ellipse cx="240" cy="200" rx="4" ry="8" fill="gray" transform="rotate(-45 240 200)" />
          <ellipse cx="230" cy="200" rx="4" ry="8" fill="gray" transform="rotate(45 230 200)" />
        </g>
      </g>
    </svg>
    <div class="letter fill imageContainer" [ngClass]="{'shake-on':isShaking}">
      <img id="image1" [src]="pictures[0]" *ngIf="pictures[0]" class='img-responsive' layout-align="center center" [ngClass]="{'shake-on':isShaking}">
      <img id="image1" [src]="pictures[1]" *ngIf="pictures[1]" class='img-responsive' layout-align="center center" [ngClass]="{'shake-on':isShaking}">
      <img id="image1" [src]="pictures[2]" *ngIf="pictures[2]" class='img-responsive' layout-align="center center" [ngClass]="{'shake-on':isShaking}">
    </div>
  </div>
</div>