<h2>For Dev Admin to debug and demonstrate how to use EOS in EOS hackathon demonstation.</h2>
<div class="example-container form-group">
  <form action="" class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Account" [(ngModel)]="account" name="account" #useraccount="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Private key" [(ngModel)]="privatekey" name="privatekey" #userprivatekey="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Note" [(ngModel)]="note" name="note" #usernote="ngModel">
    </mat-form-field>
    <button mat-button>Submit</button>
  </form>
</div>
<div class="example-container form-group">
  <button mat-button (click)="retrieveUsers()">Retrieve users</button>
  <button mat-button (click)="retrieveSpecies()">Retrieve species</button>
  <button mat-button (click)="retrieveAnimals()">Retrieve animals</button>
</div>
<div *ngIf="result">
  <pre>{{result | json}}</pre>
</div>